nav.navbar{
    position: fixed!important;
    width: 100%;
    z-index: 999;
}

.navbar-expander-button{
    z-index: 9999;
    background-image: url("/img/navbutton.png");
    background-size: 50px;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
}
